@use './components/AdminPage';
@use './components/Menu';


.orderContainer {
  display: flex;

  & .sendOrder {
    width: 25px;
        height: 25px;
        margin: 0 10px;
        border-radius: 15px;
  }

}

.kitchenContainer {
  height: 250px;
  overflow: hidden;
  border: 1px solid;

  & section {
    display: flex;
    justify-content: space-evenly;
    background: #1416;
    border: 1px solid #ae1254;
  }

  & .itemsContainer {
    display: flex;
    border: 1px solid #1416;
  }
}