@use "./components/AdminPage";
@use "./components/Menu";

.sendOrder {
  & header {
    width: 290px;
    margin: auto;
    padding: 1%;

    & section {
      display: flex;

      & .textContainer {
        width: 120px;
        text-align: center;
        padding: 2%;
        line-height: 20px;

        & p {
          font-size: 1.2rem;
          font-weight: 600;
        }
      }

      & .orderContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 70px;

        & .sendOrder {
          width: 25px;
          height: 25px;
          margin: 0 10px;
          border-radius: 15px;
        }

        & p {
          font-size: 1.2rem;
        }
      }
    }
  }
  & h1, h2 {
    margin: 20px auto;
    text-align: center;
  }
  & aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    height: 80px;
    padding: 2%;
    margin: 20px auto;

    & input {
      text-align: center;
    }
  }
}

.titulo {
  text-align: center;
  margin: 20px auto;
}

.kitchenContainer {
  height: 80vh;

  & section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 1%;
    gap: 10px;

    & button {
      width: 120px;
      height: 35px;
      border-radius: 15px;
      box-shadow: inset 0 0 5px #000;
      background: transparent;
      transition: .3s ease-in-out;
      font-size: .9rem;
      letter-spacing: 2px;
      font-family: monospace;
      border: none;

      &:focus {
        background: #0ceed0;
        box-shadow: 0 0 3px #000;
      }

      &:active {
        scale: .8;
      }
    }
  }

  & .itemsContainer {
    display: flex;
    height: 100%;
    padding: 1%;
    gap: 10px;
    overflow: hidden;

    & .items {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1%;
      width: 40%;
      height: 50%;
      box-shadow: inset 0 0 2px #000;
      border-radius: 15px;
    }
  }
}
